<section class="cont border">
    <h1>New item</h1>
    <form class="flex" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="flexrow">
            <mat-form-field appearance="fill">
                <mat-label>Model</mat-label>
                <input matInput formControlName="model">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Brand</mat-label>
                <input matInput formControlName="brand">
            </mat-form-field>
            <mat-form-field appearance