<section class="cont">
    <div class="table">
        <mat-form-field appearance="standard">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input />
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort>
            <!-- ID Column -->

            <!-- Progress Column -->
            <ng-container matColumnDef="brand">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand</th>
                <td mat-cell *matCellDef="let row">{{ row.brand }}</td>
            </ng-container>

            <ng-container matColumnDef="model">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Model</th>
                <td mat-cell *matCellDef="let row">{{ row.model }}</td>
            </ng-container>

            <ng-container matColumnDef="barcode">
         