@import "../../styles.scss";

nav {
    background-color: $primary-color;
    max-width: 100%;
    overflow: hidden;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 