@import "../../styles.scss";

nav {
    background-color: $primary-color;
    max-width: 100%;
    overflow: hidden;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    a {
        color: white;
        font-weight: 500;
        font-size: 17px;
        float: left;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &:hover {
            background-color: $primary-color-hover;
        }

    }

}