h1{
    font-weight: 500;
}

.flex{
    display: flex;
    flex-direction: column;
}

button{
    width: 100%;
}

mat-form-field{
    margin: 1%;
}

.flexrow{
    display: flex;
    justify-content: space-between;
}