/* You can add global styles to this file, and also import other style files */
$primary-color:#e91e63;
$primary-color-hover:#bb194f;
$gray-light:#424242;
$gray-dark:rgb(46 46 46);
$gray-font:rgb(202, 202, 202);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
    background-color: $gray-dark;
}

ul{
    list-style: none;
}

.cont{
    padding: 4%;
    //text-align-last: center;
    align-items: center;
    max-width:75vw;
    margin: 2.1% auto auto auto;
}

.border{
    border: 1px solid $gray-light;
    border-radius: 1vw;
}