<section class="cont border">
    <div *ngIf="!edit && product">
        <h1>{{product.model}}, {{product.brand}}</h1>
        <section class="desc">
            <div>
                <i>Barcode: {{product.barcode}}</i>
                <p>Description: {{product.description}}</p>
            </div>
            <ul>
                <li>Units: {{product.units}}</li>
                <li>Price: ${{product.price}}</li>
                <li>Category: {{product.category}}</li>
            </ul>
        </section>
        <section *ngIf="stat">
            <h2>Stats</h2>
            <table>
                <tr>
                    <th>Anual cost</th>
                    <td>${{stat.annualConsumption}}</td>
                </tr>
                <tr>
                    <th>Daily demand</th>
                    <td>{{stat.dailyDemand}}</td>
                </tr>
                <tr>
                    <th>Demand dispersion</th>
                    <td>{{stat.demandDispersion}}</td>
                </tr>
                <tr>
                    <th>Suggested category</th>
                    <td>{{stat.optimalCategory}}</td>
                </tr>
                <tr *ngIf="product.category!=='C'">
                    <th>Optimal quantity</th>
                    <td>{{stat.optimalQuantity}}</td>
                </tr>
                <tr [ngSwitch]="product.category" class="last">
                    <ng-container *ngSwitchCase="'C'">
                        <th>Revision period</th>
                        <td>{{product.revisionPeriod}}</td>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <th>Reorder point</th>
                        <td>{{product.reorderPoint}}</td>
                    </ng-container>
                </tr>
            </table>
        </section>
    </div>
    <app-item-edit (toggleEdit)="toggleEdit()" [product]="product" *ngIf=edit></app-item-edit>
    <button mat-stroked-button (click)="toggleEdit()">{{edit?"Back":"Edit"}}</button>
</section>